<div class="main-container">
  <div class="main-container-left">
    <div class="inside-left-container">
      <div class="inside-left"  *ngFor="let data of evenImgs">
        <div class="div1" *ngIf="firstDiv === 1">
          <div>
            <p>ALDI SUD</p>
            <span>Available for 2 Weeks</span>
          </div>
        </div>
        <div class="addCon1" *ngIf="firstDiv === 1">Will Display Add</div>
        <img #zoomLeft *ngIf="showDoubleImg === 2" class="cor-img" [src]="data.img" (load)="zoomLeftImg($event)"/>
      </div>
     <!-- <span *ngIf="hideDivSmallerScreen" > -->
      <div class="inside-right">
        <img #zoomBox *ngFor="let data of oddImgs" class="cor-img" [src]="data.img" (load)="onloadeddata($event, data)"/>
      </div>
      <!-- <div class="inside-right" *ngIf="showInBigScreen">
        <img #zoomBox *ngFor="let data of oddImgs" class="cor-img" [src]="data.img" (load)="onloadeddata($event, data)"/>
      </div> -->
      <!-- <div class="inside-right" *ngIf="showInSmallScreen">
        <img #zoomBox *ngFor="let data of allImages" class="cor-img" [src]="data.img" (load)="onloadeddata($event, data)"/>
      </div> -->
     <!-- </span> -->
      <!-- <span *ngIf="showDivInSmallerScreen">
        <div class="inside-right" *ngFor="let data of allImages">
          <img #zoomBox class="cor-img" [src]="data.img" (load)="onloadeddata($event, data)"/>
        </div>
      </span> -->
    </div>
    <div class="footer">
      <img (click)="pre()" class="menu-icon" src="../assets/arrow.png"/>
      <p *ngIf="showIndexFirst === 1" >{{ index }}</p>
      <p *ngIf="showDoubleImg === 2" >{{ index }} / 30</p>
      <!-- <img (click)="open()" class="menuIcon" src="../assets//menu.png"> -->
      <img *ngIf="nextbtn1" (click)="next()" class="menu-icon" src="../assets/right-arrow.png"/>
      <img *ngIf="nextbtn2" class="menu-icon" src="../assets/right-arrow.png"/>
    </div>
  </div>
  <div class="main-container-right">
    <h1>Title</h1>
    <div>
      <div class="imgBox">
        <img src="https://static01.eu/1prospekte.de/images/uploads/folder/87858/1.jpg">
        <h3>Image Title</h3>
        <p>Date</p>
      </div>
      <div class="imgBox">
        <img src="https://static01.eu/1prospekte.de/images/uploads/folder/87858/2.jpg">
        <h3>Image Title</h3>
        <p>Date</p>
      </div>
    </div>
    <div class="addCon">Will Display Add</div>
  </div>
</div>